@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: calc(7.5px + 1 * (100vw - 768px) / 255);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    html {
        font-size: calc(8px + 1 * (100vw - 1024px) / 416);
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    html {
        font-size: calc((9px * (100vw - 1440px) / 480));
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 12px;
    }
}