@font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url(@/apps/main/assets/fonts/Larsseit-Regular.woff2) format('woff2'),
        url(@/apps/main/assets/fonts/Larsseit-Regular.woff) format('woff'),

}

@font-face {
    font-family: 'Grotex';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url(@/apps/main/assets/fonts/Grotex.woff2) format('woff2'),
        url(@/apps/main/assets/fonts/Grotex.woff) format('woff'),

}